.warning {
    background-color: rgb(66, 232, 244, .4);
    color: purple;
    border-bottom: 1px;
    border-bottom-style: dotted;
    border-bottom-color: red;
}

.stripText {
    background-color: transparent;
    color: black;
}