#popupMessage {
/*      font-family: 'PT Serif', serif;*/
      font-family: 'Open Sans', sans-serif;  	
      font-size: 14px;
  		height:250px;
  		padding: 10px;
  		min-width: 400px;
  		max-width: 400px;
  		min-height: 250px;
  		overflow:hidden;
	}
	.full{
		background-color: white;
  		border-bottom: 10px solid #3f4d9c;
  		border-top: 10px solid #3f4d9c;
  		border-right: 10px solid #b22222;
  		border-left: 10px solid #b22222;
  		margin: 0;
	}
	.full .icon{
		position: relative;
		padding-left: 350px;
		padding-top: 20px;
		width: 50px;
		height: 50px;
		padding-bottom: 20px;
	}
  h2{
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
  }

.progressBar {
  font-family: 'Open Sans', sans-serif; 
  height: 2%;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: white;
  background-color: transparent;
  border-radius: 25px;
}